@import "lib/compass";

// Variables and mixins
@import "includes/material-color";
@import "includes/variables";
@import "includes/mixins";
@import "includes/flex";

// Material
@import "material/form";
@import "material/btn";

// Elements
@import "elements/flexboxgrid";

#grid-exaple {
    > div {
        background-color: silver;
        border: 1px dashed darken(silver, 30%);
        text-align: center;
        margin: 2px 0;
    }
}

body {
    background-color: red;
    > .container-fluid {
        background-color: aqua;
        .row {
            background-color: aquamarine;
            &.justify-vpn-between {
                background-color: blue;
            }
        }
    }
}